<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TrainzController</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="../static/fonts/material-icons.min.css"> -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <label class="switch">
        <input type="checkbox" id="chckbx">
        <span class="slider round"></span>
    </label>
    <h1 class="controller-font">(D) Rail Road Switch</h1>
    
    <div class="container" style="float: left;">

        <div class="row">
            <div class="col" id="forward">
                <h1 class="fa fa-chevron-up remote-control" style="font-size: xxx-large;"></h1>
                <h1 class="controller-font">(W) Forward</h1>
            </div>
        </div>

        <div class="row">
            <div class="col" id="idle">
                <i class="fa fa-square remote-control" style="font-size: xxx-large; padding-left: 4px;"></i>
                <h1 class="controller-font">(Space) Stop</h1>
            </div>
        </div>

        <div class="row">
            <div class="col" id="backwards">
                <i class="fa fa-chevron-down remote-control" style="font-size: xxx-large;"></i>
                <h1 class="controller-font">(S) Backwards</h1>
            </div>
        </div>

    </div>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>