<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Instructions</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/info.css">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    </head>
    
    <body>
        <h3><strong><a href="/control">> BACK</a></strong></h3>
        <h4 style="display: inline-block;">
            <strong style="color: blue;">IMPORTANT NOTE:</strong> <br>
            Before you start driving your train model, you need to start the <strong style="color: blue;">engine</strong>. When you start the engine,
            your 5 minutes of play time will start to countdown. Your play time will end if you <strong style="display: inline-block;color: blue;">switch off the engine</strong>
            or <strong style="color: blue; display: inline-block;">5 minutes has passed from the engine start</strong>.
            <br><br>
            GENERAL INSTRUCTIONS: <br>
            Key Binds:
            <p style="padding-left: 20px">
                - <strong style="color: blue;">W</strong>: Move the train forwards (counter-clockwise) <br>
                - <strong style="color: blue;">S</strong>: Move the train backwards (clockwise) <br>
                - <strong style="color: blue;">R</strong>: Rail Road Switch. When disabled, it goes straight. When enabled, it switches to another track. <br>
                - <strong style="color: blue;">Space / E</strong>: Stop the train
            </p>
            Everything above can be controlled by mouse click or keybinds.
            <br><br>
            We hope you enjoy your ride ❤ <br>
            - Sincerely <strong style="color: blue;">TrainZ Team</strong> 
        </h4>
    </body>
</html>