<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Thanks For Playing ❤</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    </head>

    <body>
        <div style="top: 50%; left: 50%; text-align: center;">
            <h1 style="color: blue;">Thanks For Playing</h1>
            <h3>Your 5 minute play time has ended</h3>
            <p style="color: #ccc;">or you stopped the engine.</p>
            <br>
            <h2 style="color: blue;">We hope you enjoyed your ride &heartsuit;</h2>
            <br>
            <h2>- <strong style="color: blue;">TrainZ Team</strong></h2>
        </div>
    </body>
</html>